:root {
  --bg1: rgb(180, 213, 233);
  --bg2: rgb(213, 224, 230);
  --app-fg: #111;
  --header-h: 64px;
  --footer-h: 20px;
  --space-4: 16px;
  --text:rgb(95, 58, 229);
}
button {
  background-color: var(--bg2);
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  border: none;
  font-size: 0.7em;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.08),
    0 4px 12px rgba(0, 0, 0, 0.12);
}
button:hover {
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.12),
    0 8px 20px rgba(0, 0, 0, 0.18);
}
